.interview-form-container {
    max-width: 600px;
    margin: 4rem auto 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
    border-top-left-radius: 0;
    /* background-color: #f9f9f9; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.interview-form-container p {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 2rem;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.interview-form-container input[type="text"],
.interview-form-container input[type="password"],
.interview-form-container textarea,
.interview-form-container select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.interview-form-container button[type="submit"],
.interview-form-container button[type="button"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.interview-form-container button:hover {
    background-color: #0056b3;
}

.rounds-container {
    margin-top: 20px;
}

.round-panel {
    background-color: #e7e3e3;
    padding: 10px;
    /* border: 0.5px solid #767575; */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 5px;
    margin-bottom: 12px;
}

.questions-container {
    margin-top: 10px;
    padding-bottom: 1px;
    margin-bottom: 1rem;
}

.question-panel {
    background-color: #fff;
    padding: 4px 15px;
    margin: 0px 7px;
    border: 1px solid grey;
    border-radius: 16px;
    margin: .5rem 0;
    font-size: 0.9rem;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.buttons-container button {
    margin: 0.5rem;
}

.spl-round-btn {
    width: 100%;
    background-color: #e7e3e3;
}

.spl-round-btn:hover {
    background-color: #f9f9f9 !important;
    color: #007bff;
    box-shadow: none;
}

.spl-question-btn {
    color: grey;
    text-align: center;
    width: 100%;
    background-color: #fff;
    font-size: .95rem;
    padding: 6px;
}

.spl-question-btn:hover {
    background-color: #fff !important;
    color: #58a2f2;
    box-shadow: none;
}

.back-btn {
    cursor: pointer;
}

.div-deletebtn {
    width: 100%;
    color: tomato;
    transform: none;
    font-size: .95rem;
    transition: all 100ms;
}

.div-deletebtn:hover {
    color: tomato;
    background-color: #fff !important;
    border: 2px solid tomato;
}

.deletequesbtn {
    color: tomato;
    transform: none;
    font-size: .95rem;
    transition: all 100ms;
    align-self: center;
}

.deletequesbtn:hover {
    color: tomato;
    background-color: #fff !important;
    box-shadow: none;
}

.dltbtnq {
    display: flex;
    justify-content: center;
}