.interview-form-container {
    max-width: 600px;
    margin: 4rem auto 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-top-left-radius: 0;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.interview-form-container p {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 2rem;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.interview-form-container input[type="text"],
.interview-form-container input[type="password"],
.interview-form-container textarea,
.interview-form-container select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.interview-form-container button[type="submit"],
.interview-form-container button[type="button"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.interview-form-container button:hover {
    background-color: #0056b3;
}

.rounds-container {
    margin-top: 20px;
}

.round-panel {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.questions-container {
    margin-top: 10px;
}

.question-panel {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.buttons-container button {
    margin: 0.5rem;
}

.spl-round-btn {
    background-color: #f9f9f9;
    width: 100%;
}

.spl-round-btn:hover {
    background-color: #f9f9f9 !important;
    color: #007bff;
    box-shadow: none;
}

.spl-question-btn {
    background-color: #f9f9f9;
    color: grey;
    text-align: left;
    width: 100%;
}

.spl-question-btn:hover {
    background-color: #f9f9f9 !important;
    color: #007bff;
    box-shadow: none;
}

.back-btn {
    cursor: pointer;
}