#hero-section {
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 0.7% 10%;
}

.hero-section-left {
    font-size: 2.6rem;
    letter-spacing: 0.7px;
    color: #172d4e;
    font-weight: 500;
    width: 56%;
}

.hero-section-left span {
    color: #0076fd;
}