#login-component {
    width: 40%;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
    height: 80%;
}

#exit-login {
    color: white;
    background-color: transparent;
    border-radius: 6px;
    border: 2px solid white;
    margin: 1rem 0rem 0rem 0rem;
    letter-spacing: 0.5px;
    width: 60%;
    padding: 0.75rem;
    transition: all 200ms;
}

#exit-login:hover {
    background-color: black;
    border: 2px solid black;
}

.forgotten-pass {
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.1px;
}

.forgotten-pass:hover {
    text-decoration: underline;
}

#new-register {
    background-color: transparent;
    width: 40%;
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 6px;
}

.new-register {
    width: 100%;
    margin: 0;
    background-color: transparent;
    color: white;
    letter-spacing: 0.5px;
}

.new-register:hover {
    background-color: transparent;
}