/* #loginbackwall {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
} */

.loginbackwall-left {
    background-color: #e1efff;
    width: 60%;
    height: 100%;
}

.loginbackwall-right {
    background-color: #0076fd;
    width: 40%;
    height: 100%;
}

/* 
.login-section-image {
    position: absolute;
    left: 10%;
    margin-right: 16%;
    margin-top: 8%;
} */

/* .main-container {
    transform: scale(0.8);
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    height: 560px;
    overflow: hidden;
    width: 600px;
} */

@media screen and (max-width: 768px) {
    .main-container {
        transform: scale(0.7);
    }
}

@media screen and (max-width: 480px) {
    .main-container {
        transform: scale(0.65);
        overflow: hidden;
        overflow-x: hidden;
    }
}

.main {
    margin: 0px auto;
    width: 480px;
    height: 480px;
    position: relative;
}

.big-circle {
    height: 100%;
    width: 100%;
    position: relative;
    border: 3px solid #6495f2;
    border-radius: 50%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    animation: Rotate 35s linear infinite;
    -webkit-animation: Rotate 35s linear infinite;
}

.icon-block {
    width: 64px;
    height: 64px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

.icon-block img {
    margin: 0px auto;
    width: 300%;
    animation: Rotate-reverse 35s linear infinite;
    -webkit-animation: Rotate-reverse 35s linear infinite;
}

.icon-block:first-child {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(2) !important;
    -webkit-transform: translate(-50%, -50%);
}

.icon-block:nth-child(2) {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%) scale(2) !important;
    -webkit-transform: translate(50%, -50%);
}

.icon-block:nth-child(3) {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%) scale(2) !important;
    -webkit-transform: translate(-50%, 50%);
}

.icon-block:nth-child(4) {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%) scale(2) !important;
    -webkit-transform: translate(-50%, -50%);
}

/* circle content */
.circle {
    animation: circle-rotate 35s linear infinite;
    -webkit-animation: circle-rotate 35s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    width: 75%;
    height: 75%;
    border: 3px solid #6495f2;
    border-radius: 50%;
}

.circle .icon-block img {
    animation: img-rotate 35s linear infinite;
    -webkit-animation: img-rotate 35s linear infinite;
}

@keyframes Rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes Rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes Rotate-reverse {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes Rotate-reverse {
    from {
        -webkit-transform: rotate(360deg);
    }

    to {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes circle-rotate {
    from {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(405deg);
    }
}

@-webkit-keyframes circle-rotate {
    from {
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
    }

    to {
        -webkit-transform: translate(-50%, -50%) rotate(405deg);
    }
}

@keyframes img-rotate {
    from {
        transform: rotate(-45deg);
    }

    to {
        transform: rotate(-405deg);
    }
}

@-webkit-keyframes img-rotate {
    from {
        -webkit-transform: rotate(-45deg);
    }

    to {
        -webkit-transform: rotate(-405deg);
    }
}